# dot files
.bundle
*.rbc
*.sassc
**.orig
.powrc
.sass-cache
.zeus.sock
.DS_store

# root files
capybara-*.html
custom_plan.rb
dump.rdb
pickle-email-*.html
rerun.txt
zeus.json
Guardfile

# folders
config/*.yml
config/database.yml
config/deploy.rb
config/deploy
config/initializers/myusa.rb
coverage
db/*.sqlite3
log/*
/public/system
/spec/tmp
/test
/tmp
/vendor/bundle
