after_failure:
  - mysql -e 'show databases;'
  - cat ./config/database.yml
  - echo $RAILS_ENV
  - bundle exec rake --version
  - ruby env
before_script:
  - cp config/database.yml.example config/database.yml
  - cp config/initializers/myusa.rb.example config/initializers/myusa.rb
  - mysql -e 'create database unclaimed_money_test;'
install:
  - bundle install --without development
language: ruby
notifications:
  email:
    recipients:
      - alison.rowland@gsa.gov
      - amos.stone@businessusa.gov
      - gregory.gershman@gsa.gov
      - john.felleman@gsa.gov
      - john.kemp@gsa.gov
      - justin.grevich@gsa.gov
      - raphael.villas@gsa.gov
script: 
  - bundle exec rake db:schema:load
  - bundle exec rake db:test:prepare
  - bundle exec rake spec
services: mysql
rvm:
  - 2.0.0
  - 1.9.3