.large-4.columns.sidebar
  %h2 Help &amp; FAQs
  %div#sidebar-accordion
    %h3.accordionTitle
      What is unclaimed money?
    %div
      %p
        Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
      %p
        = link_to 'More frequently asked questions.', 'http://answers.usa.gov/system/templates/selfservice/USAGov/#portal/1012/article/3770/Find-out-if-the-Government-Owes-You-Money?fromQuery=unclaimed%20money', html_options = {:class => "underline"}

    %h3.accordionTitle
      How do I get started?
    %div
      %p
        Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
      %p 
        = link_to 'More frequently asked questions.', '', html_options = {:class => "underline"}
    %h3.accordionTitle
      What is MyUSA?
    %div
      %p
        Each year millions of dollars in unclaimed funds and property are turned over to the government by companies who cannot locate the owners.  If your name is on this list, you could have money waiting for you right now.
        = link_to 'More frequently asked questions.', '', html_options = {:class => "underline"}