// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

:focus, a:focus {
  outline: #edb864 solid 3px;
  position: relative;
  z-index: 1000;
}

.white-left-border{
	border-left: 1px solid white;

}

.grey-right-border{
	border-right: 1px solid #cdcdcd;
}

.underline{
	text-decoration:underline;
}


h1 { font-family: 'Goudy Bookletter 1911', serif; font-weight: normal; 
  a { color:#122237; }
}
$tooltip-pip-size: 0px;

hr.red-stripe { border-color:#921B1E; border-width: 6px 0 0 0; margin:0; }

a img#usa-gov-logo { height:38px; padding:2px 16px 0; position:relative; z-index:10; }
a.usa-logo {
  height:45px;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #e6e6e6));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #e6e6e6 100%);  
}

#log-in-link { background-color:#112136; border-right: 6px solid #1d6484; color:#fff; padding:15px 10px 14px 30px; position:relative; z-index: 10;
  img { height:52px; position:absolute; left:-19px; top:-6px; }
  span { font-weight: normal; }
}
#log-in-link:hover { background-color:#1d6484; border-right:6px solid #112136; color:#fff; padding:15px 10px 14px 30px; position:relative; z-index: 10;
  img { height:52px; position:absolute; left:-19px; top:-6px; }
  span { font-weight: normal; }
}

#log-in-link span:after { content: ' with ';}
#log-in-link strong:after { content: 'MyUSA';}


.top-bar .toggle-topbar.menu-icon { padding-right:20px;
  a { color:#112136;
    span { color:#112136; }
  }
}

nav.top-bar, .top-bar-section li a:not(.button) { 
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #e6e6e6));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #e6e6e6 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #e6e6e6 100%);  
}

select#states { height:32px; }

ol.lead {
  padding-left: 2em;
}


.sidebar h4 { font-weight: normal; }
div.panel p.lead { margin:0; }
div.alert-box { background-color:#d9edf7; border:1px solid #bce8f1; color:#3a87ad; font-weight:normal;
  p { margin:0; padding-right:1em; } }
.search.button { font-weight:normal; padding-left:3em; position:relative; 
  i { font-size:22px; left:0.8em; position: absolute; top:10px; }
}

#progressbar {
    width: 100%;
    height: 21px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

#progress {
    background: #336699; /*-- Color of the bar --*/
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 5s 1 forwards;
    -moz-animation: progress 5s 1 forwards;
    -ms-animation: progress 5s 1 forwards;
    animation: progress 5s 1 forwards;
}

#pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background-image: image-url('progress-bar-animation.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress { 
    from { }

    to { width: 100% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 100% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 100% }
}

@keyframes progress { 
    from { }

    to { width: 100% }
}

.bottom-buttons { height:43px; }

@media only screen and (max-width: 940px) {
  .top-bar-section li a:not(.button) { 
    background:none;
    background-color: #e6e6e6;
  }
}

@media only screen and (max-width: 768px) {
  #log-in-link span:after { content: none;}
  #log-in-link strong:after { content: none;}
}